<h1 class="text-center">Search</h1>

<div class="d-flex justify-content-center gap-3 mt-4">
  
  <%= link_to "Search Reviews", search_reviews_path, class: "btn btn-primary btn-lg" %>

  <%= link_to "Search Services", search_services_path, class: "btn btn-secondary btn-lg" %>

</div>
